.order, .order-head, .order-footer {
  border-radius: 3px;
}

.order-head, .order-footer {
  background: #4CAF50;
  padding: 20px 0;
}

.order {
  background: #73b575;
  width: 90%;
  margin: auto;
}

.order-item {
  list-style: none;
  padding-left: 0;
  margin: 20px 0;
}
